p.herisson-success {
 background-color: #adec83;
	padding: 3px 10px;
	display: inline-block;
}

p.herisson-errors {
 background-color: #ec8383;
	padding: 3px 10px;
	display: inline-block;
}

p.herisson-warnings {
 background-color: #eccc83;
	padding: 3px 10px;
	display: inline-block;
}

span.herisson-success {
 color: #63a94b;
	font-weight: bold;
}

span.herisson-warnings {
 color: #ccac63;
	font-weight: bold;
}

span.herisson-errors {
 color: #a94b4b;
	font-weight: bold;
}

div.pagination {
 margin: auto;
 width: 100%;
 text-align: center;
 clear: both;
 padding: 5px;
}

div.pagination span {
 height: 15px;
 width: 20px;
 padding: 5px;
 background-color: white;
 color: white;
 display: inline-block;
 margin: 1px;
}

div.pagination span a {
 text-decoration: none;
 display: inline-block;
}

div.pagination span:hover {
 background-color: #E0E0E0;
}

div.pagination span.active {
 background-color: #156BB4;
 color: white;
 font-weight: bold;
}


#maintenance th {
    text-align: center;

}
