p.herisson-success {
 background-color: #adec83;
	padding: 3px 10px;
	display: inline-block;
}

p.herisson-errors {
 background-color: #ec8383;
	padding: 3px 10px;
	display: inline-block;
}

p.herisson-warnings {
 background-color: #eccc83;
	border: 1px solid orange;
	padding: 3px 10px;
}

span.herisson-success {
 color: #63a94b;
	font-weight: bold;
}

span.herisson-errors {
 color: #a94b4b;
	font-weight: bold;
}

