<phpunit colors="true">
    <testsuite name="Herisson">
        <directory>.</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../Herisson/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/" charset="UTF-8"
            yui="true" highlight="false"
            lowUpperBound="35" highLowerBound="70"/>
    </logging>
    <!--
    -->
</phpunit>
